     .ct-morumbi{
        color: white;
        background: black;
    }

     .amarelo {
        background: yellow;
    }

     .laranja {
        background: orange;
    }

    .verde {
        background: green;
    }

     .azul-claro {
        background: rgb(0, 195, 255);
    }

    .azul-escuro {
        background: blue;
    }

      .roxo {
        background: purple;
    }

     .vermelho {
        background: red;
    }

    .vermelho-preto {
        background-image: linear-gradient(
            to right, red 70%, black 70%
        )
    }

    .preto {
        color: white;
        background: black;
    }

    img {
    height: 175px;
    }

    .taegeuk {
        display: flex;
        gap: 5px;
    }

    .borda {
        border: solid 2px;
        margin: 10px;
        padding-left: 20px;
    }

    .btn-proximo {
        font-size: 25px;
        height: 100px;
        width: 400px;
    }

    .passo {
        display: none;
    }
    .passo.ativo{
        display: block;
    }